---
layout: base
schema: blog
---

<main id="skip" class="cc-main order-1">

  {% comment %} Intro {% endcomment %}
  <div class="cc-intro pt-2 border-bottom">
    <h1 class="display-3">{{ title }}</h1>
    <div class="ps-lg-2">
      <p class="lead">{{ summary }}</p>
      {% assign wordCount = content | strip_html | number_of_words %}
      {% assign wordsPerMinute = 200 %}
      {% assign readingTime = wordCount | divided_by: wordsPerMinute | ceil %}
      <aside class="fw-bold">{{ readingTime }} min read</aside>
      <p>Published: {% include "partials/date.liquid" %}</p>
      {% assign tagsToDisplay = tags %}
      <p class="d-inline-flex flex-wrap gap-2">
        {%- for tag in tagsToDisplay %}
          {% if tag != "posts" %}
            {% assign tagUrl = "/tags/" | append: tag | slugify | append: "/" %}
            <a href="{{ tagUrl }}" class="btn btn-outline-secondary btn-sm">{{ tag }}</a>
          {% endif %}
        {%- endfor %}
      </p>
    </div>
  </div>

  {% comment %} Table of Contents {% endcomment %}
  <div class="cc-toc mt-3 mb-5 my-lg-0 mb-lg-5 px-sm-1 text-body-secondary">
    <button
      id="tocToggler"
      class="cc-toc-toggle btn btn-link p-md-0 mb-2 mb-md-0 text-decoration-none d-md-none collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#tocContents"
      aria-expanded="false"
      aria-controls="tocContents"
    >
      On this page
      {% svg "ui/chevron-expand" %}
    </button>
    <strong class="d-none d-md-block h6 my-2 ms-3">On this page</strong>
    <hr class="d-none d-md-block my-2 ms-3">
    <div id="tocContents" class="cc-toc-collapse collapse">
      <nav id="TableOfContents">
        {{ content | toc }}
      </nav>
    </div>
  </div>

  {% comment %} Content {% endcomment %}
  <div class="cc-content ps-lg-2 py-2 py-lg-5 my-2 mx-auto">
    {{ content }}
  </div>

</main>
